# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Virtual Environment
venv/
.env

# OS files
.DS_Store
Thumbs.db

# Power BI temporary files
*.pbix.lock

# Raw dataset
data/raw/