# Raw data
data/raw/creditcard.csv

# Processed data
data/processed/creditcard_clean.csv
data/processed/creditcard_engineered.csv

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Anaconda
anaconda_projects/

# Virtual Environment
venv/
.env

# OS files
.DS_Store
Thumbs.db

# Power BI
*.pbix.lock